body {
    background-color: #ffffe3;
}

a {
    text-decoration: none;
}

div, p, figure {
    margin: 0;
    padding: 0;
}

/**TEXT**/
h1 {
    color: #303030;
    text-align: center;
    font-family: "Destain", Verdana, Tahoma;
    font-size: 100px;
}
h2 {
    color: #303030;
    font-family: "Yours", Verdana, Tahoma;
    font-size: 50px;
}
a, p, h3{
    color: #303030;
    font-family: "Inline", Verdana, Tahoma;
    font-size: 15px;
}

/**FONTS**/
@font-face{
    font-family: "Destain";
    src: url('../font/Destain.otf');
}
@font-face{
    font-family: "Yours";
    src: url('../font/Affectionately-Yours.otf');
}
@font-face{
    font-family: "Inline";
    src: url('../font/ostrich-sans-master/OstrichSansInline-Regular.otf');
}

#flex-container {
    margin: -10px;
}

#flex-header {
    background-image: url("../img/food.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#monte {
    height: 125px;
    width: 700px;
    margin: auto;
    background-color: #ffffe3;
    border-radius: 50px;
}

#flex-nav {
    text-align: center;
    background-color: #ffffe3;
    border-radius: 25px;
}

#flex-body {
    background-color: #ffffe3;
    border-radius: 25px;
    width: 80%;
    margin: auto;
}



#canvas {
    width: 200px;
    height: 100px;
}